<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active-link" [routerLink]="'/'">
      <img src="assets/images/freshcart-logo.svg" alt="fresh-cart" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active-link" [routerLink]="'/home'"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="'products'">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="'categories'">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="'brands'">Brands</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/wishlist">
            <i class="fa-solid fs-5 fa-heart-circle-check">
              <span
                *ngIf="wishListItems"
                [matBadge]="wishListItems"
                matBadgePosition="above after"
                matBadgeColor="warn"
                matBadgeSize="small"
              ></span>
            </i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="'login'"> Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="'signup'"> Sign Up </a>
        </li>
        <li class="nav-item " *ngIf="isLoggedIn">
          <a class="nav-link position-relative cart" routerLinkActive="active-link" [routerLink]="'cart'">
            <i class="fa fs-4 me-2 fa-shopping-cart"></i>
            <div *ngIf="numberOfItems > 0" class="bg-main position-absolute top-0 end-0 badge">
              {{ numberOfItems }}
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logOut()" routerLinkActive="active-link" [routerLink]="'login'"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
