<div class="product p-2 position-relative">
  <div
    (click)="
      handleWishList(product, product._id, wishListArray.includes(product.id))
    "
    class="position-absolute top-0 end-0 m-2"
  >
    <span *ngIf="product.isWishLoading" class="loader"></span>
    <i
      *ngIf="!product.isWishLoading"
      [ngClass]="[
        wishListArray.includes(product.id)
          ? 'fa-solid fa-heart-crack text-danger'
          : 'fa-regular fa-heart text-black'
      ]"
      class="fs-5"
    ></i>
  </div>
  <a
    class="text-decoration-none"
    [routerLink]="['/productDetails', product.id]"
  >
    <img
      [src]="product.imageCover"
      class="w-100"
      alt="{{ product.category.name }}"
    />
    <p class="text-main">{{ product.category.name }}</p>
    <h2 class="h6">{{ product.title | stringTrim : 2 }}</h2>
    <div class="d-flex justify-content-between">
      <span>{{ product.price }} EGP</span>
      <div>
        <i class="fa fa-star rating-color"></i>
        {{ product.ratingsAverage }}
      </div>
    </div>
  </a>
  <button class="btn bg-main w-100 text-white" (click)="addToCart(product.id)">
    + Add
  </button>
</div>
